.Controls 
{
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #000;
}

.Controls button {
    color: #FFF;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 2px solid #FFF;
    border-radius: 30px;
    background: none;   
    transition: .25s;
}

.Controls button:hover {
    cursor: pointer;
    color: #000;
    background: #FFF;
}