.Hand {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: .5;
}
.Hand.active {
    opacity: 1;
}
.Hand-cards {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}